.DS_Store
Thumbs.db
*.swp
*~
*.drawio
__pycache__/
*.py[cod]
*$py.class
*.sh.log
*.bash_history
*.dtmp
*.o
*.obj
*.so
*.a
bin/
build/
dist/

work/
msim/
transcript
vsim.wlf
*.vst
*.vcd
*.ucdb
modelsim.ini


INCA_libs/
xcelium.d/
cov_work/
*.err
*.msg
*.soy
*.shm/
*.dsn
*.vams

*.log
*.history
*.key
*.diag
*.fsdb
*.dump

pdk/
techfile/
*pdk*


# --- Cadence Genus (Synthesis) ---
fv/
shm/
genus.log*
genus.cmd*
*.db
*.sdf
*.spef
*.bak
# --- Cadence Innovus (Place and Route) ---
*.timing_check
*.geom_check
*.conn_check
inn_lib/
*.enc
*.enc.dat
innovus.log* # Innovus logs
innovus.cmd* # Innovus command history
*.fp
